accelerate
argh
dacite
diffusers
flask
flask_cors
numpy
pillow
pydub
scipy
ipykernel
torch==1.12.0+cu113
torchvision==0.13.0+cu113
torchaudio
transformers
--extra-index-url https://download.pytorch.org/whl/cu113
